body {
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    background: #ddd;
}

* {
    box-sizing: border-box;
}

.head h1 { 
    text-align: center;
    font: bold;
}

.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    width: 340px;
    height: 340px;
    margin: 1rem auto 2rem;
    box-shadow: 5px 5px 15px #fff;
}

.container:hover {
    box-shadow: 5px 5px 15px #fef9de;
}

.menu {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 8rem);
    gap: .75rem;
    justify-items: center;
}

#color {
    grid-column: 1 / span 2;
    width: 100%;
}

.menu > *, #size-label, #size {
    width: 8rem;
}

button {
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: .25rem;
    font: 300 1.1rem 'Ysabeau Infant', sans-serif;
    box-shadow: 0 1px 3px #555;
    padding-block: .35rem;
}

button:hover {
    background-color: #fef9de;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    color: #555;
    cursor: pointer;
    width: 18rem;
  }


input[type="range"]::-webkit-slider-runnable-track {
    background: #fff;
    height: 0.4rem;
    
}

input[type="range"]::-moz-range-track {
    background: #fff;
    height: 0.4rem;
}