body {
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    background: #ddd;
}

* {
    box-sizing: border-box;
}

.head h1 { 
    text-align: center;
    font: bold;
}

.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem auto 3rem;
}

.container {
    width: 340px;
    aspect-ratio: 1 / 1;
    max-height: 550px;
    margin: 1rem auto 2rem;
    box-shadow: 5px 5px 15px #fff;
}

.container:hover {
    box-shadow: 5px 5px 15px #fef9de;
}

.menu {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 8rem);
    gap: .75rem;
    justify-items: center;
}

#color {
    grid-column: 1 / span 2;
    width: 100%;
}

.menu > *, #size-label, #size {
    width: 8rem;
}

button {
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: .25rem;
    font: 300 1.1rem 'Ysabeau Infant', sans-serif;
    box-shadow: 0 1px 3px #555;
    padding-block: .35rem;
}

button:hover {
    background-color: #fef9de;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    color: #555;
    cursor: pointer;
    width: 18rem;
  }


input[type="range"]::-webkit-slider-runnable-track {
    background: #fff;
    height: 0.4rem;
    
}

<<<<<<< HEAD
.active {
    background-color: #f6de56;
}

.info, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    position: fixed;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    bottom: 3rem;
    right: 1rem;
    background-color: #f6de56;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
}

.info:active {
    background-color: #fff;
}

.instructions {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem;
    width: 350px;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.close-info {
    position: absolute;
    display: block;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

footer{
    height: 2rem;
    margin-bottom: 0;
}

footer a {
    color: #555;
}

@media screen and (min-width: 800px){
    .sketch {
        display: grid;
        grid-template: repeat(2, auto) / repeat(auto-fit, minmax(350px, 1fr)) ;
    }

    .sketch > * {
        justify-self: center;
    }

    .range {
        grid-area: 1 / 1 / 2 / 2;
    }

    .container {
        grid-area: 2 / 1 / 3 / 2;
        width: 90%;
    }

    .menu {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@keyframes quick-animation {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes quick-animation-rev {
    from{
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
    
=======
input[type="range"]::-moz-range-track {
    background: #fff;
    height: 0.4rem;
>>>>>>> parent of 5a08562 (Complete javascript file)
}